/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/sass/_settings.scss ***!
  \******************************************************************************************************************/
body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

.container {
  max-width: 375px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}
.container.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.header img {
  height: 40px;
  margin-bottom: 10px;
}
.header h1 {
  font-size: 24px;
  margin: 0;
}

.section .toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #454343;
}
.section .toggle-container h2 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #1a1a1a;
}
.toggle-container img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.toggle-container .toggle-label {
  font-size: 16px;
}
.toggle-container .toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.toggle-container .toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-container .toggle-switch .toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}
.toggle-container .toggle-switch .toggle-slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.toggle-container .toggle-switch input:checked + .toggle-slider {
  background-color: #4D861F;
}
.toggle-container .toggle-switch input:checked + .toggle-slider::before {
  transform: translateX(26px);
}
.toggle-container .toggle-switch input:focus + .toggle-slider {
  box-shadow: 0 0 1px #4D861F;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.066);
}
.bottom-nav a {
  color: #333;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  transition: color 0.3s;
}
.bottom-nav a i {
  font-size: 24px;
  margin-bottom: 4px;
}
